body {
    margin: 0;
    padding: 0;
}

#background {
    background-image: url(/PNG/네스프레소-마이크로페이지.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 2500px;
    width: 4000px;
    position: relative;
}


/* 섹션 1 */

#section1 {
    height: 1796px;
    width: 3105px;
    left: 0;
    top: 0;
    position: absolute;
}












/* 섹션 2 */

#section2 {
    height: 0px;
    width: 0px;
    left: 0px;
    bottom: 0;
    position: absolute;
}





















/* 섹션 3 */

#section3 {
    height: 0px;
    width: 0px;
    right: 0;
    top: 0px;
    position: absolute;
}
















/* 섹션 4 */

#section4 {
    height: 2500px;
    width: 4000px;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    position: absolute;
}