@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Pretendard Variable";
}

.dragscroll {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: grab;
}

.dragscroll:active {
    cursor: grabbing;
}

#dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#dim:hover {
    cursor: pointer;
}

#dim h2 {
    color: #fff;
    font-size: 44.79pt;
    font-weight: 500;
}

#dim p {
    color: #fff;
    font-size: 24.27pt;
    margin-top: 33px;
    font-weight: 300;
}

.background {
    width: 4000px;
    height: 2500px;
    background-image: url('../PNG/네스프레소-마이크로페이지.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

/* 섹션 1 */

#section1 {
    height: 1796px;
    width: 3105px;
    left: 0;
    top: 0;
    position: absolute;
    display: inline-block;
}

/* 캡슐 1 */

.cap1 {
    position: absolute;
    left: 1326px;
    top: 500px;
    animation: moveslider1 6s linear infinite;
    animation-delay: 1s;
    opacity: 0;
}

.cap12 {
    position: absolute;
    left: 1326px;
    top: 500px;
    animation: moveslider1 6s linear infinite;
    animation-delay: 4s;
    opacity: 0;
}

@keyframes moveslider1 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateX(294px) translateY(170px);
        opacity: 0;
    }
}

/* 캡슐2 */

.cap2 {
    position: absolute;
    left: 1150px;
    top: 723px;
    animation: moveslider2 6s linear infinite;
    animation-delay: 1s;
    opacity: 0;
}

.cap22 {
    position: absolute;
    left: 1150px;
    top: 723px;
    animation: moveslider2 6s linear infinite;
    animation-delay: 4s;
    opacity: 0;
}

@keyframes moveslider2 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateX(185px) translateY(107px);
        opacity: 0;
    }
}

/* 캡슐 3 */

.cap3 {
    position: absolute;
    left: 363px;
    top: 1040px;
    animation: moveslider3 6s linear infinite;
    animation-delay: 1s;
    opacity: 0;
}

.cap32 {
    position: absolute;
    left: 365px;
    top: 1040px;
    animation: moveslider3 6s linear infinite;
    animation-delay: 4s;
    opacity: 0;
}

@keyframes moveslider3 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateX(277px) translateY(160px);
        opacity: 0;
    }
}

/* 캡슐 4 */

.cap4 {
    position: absolute;
    left: 536px;
    top: 342px;
    animation: moveslider4 6s linear infinite forwards;
    animation-delay: 1s;
    opacity: 0;
}

.cap42 {
    position: absolute;
    left: 536px;
    top: 342px;
    animation: moveslider4 6s linear infinite forwards;
    animation-delay: 3s;
    opacity: 0;
}

.cap43 {
    position: absolute;
    left: 536px;
    top: 342px;
    animation: moveslider4 6s linear infinite forwards;
    animation-delay: 5s;
    opacity: 0;
}

.cap44 {
    position: absolute;
    left: 536px;
    top: 342px;
    animation: moveslider4 6s linear infinite forwards;
    animation-delay: 7s;
    opacity: 0;
}

.cap45 {
    position: absolute;
    left: 272px;
    top: 492px;
    animation: moveslider5 6s linear infinite;
    animation-delay: 7s;
    opacity: 0;
}

.cap46 {
    position: absolute;
    left: 272px;
    top: 492px;
    animation: moveslider5 6s linear infinite;
    animation-delay: 9s;
    opacity: 0;
}

.cap47 {
    position: absolute;
    left: 272px;
    top: 492px;
    animation: moveslider5 6s linear infinite;
    animation-delay: 11s;
    opacity: 0;
}

@keyframes moveslider4 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        transform: translateX(-264px) translateY(149px);
        opacity: 1;
    }
}

@keyframes moveslider5 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateX(198px) translateY(113px);
        opacity: 0;
    }
}

/* hover */
.con1 .plus {
    position: absolute;
    left: 1272px;
    top: 130px;
}

.con1 .next {
    position: absolute;
    left: 840px;
    top: 289px;
}

.con1 .pop {
    position: absolute;
    left: 180px;
    top: 590px;
}

.con1 .caution1 {
    position: absolute;
    left: 1290px;
    top: 30px;
    animation: hovering1 4s ease-in-out infinite;
}

.con1 .caution2 {
    position: absolute;
    left: 940px;
    top: 150px;
    animation: hovering1 4s ease-in-out infinite;
}

.con1 .caution3 {
    position: absolute;
    left: 190px;
    top: 450px;
    animation: hovering1 4s ease-in-out infinite;
}

@keyframes hovering1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

.con1 .human1 {
    position: absolute;
    left: 1235px;
    top: 742px;
}

.con1 .workcar1 {
    position: absolute;
    right: 858px;
    top: 0px;
    animation: driving1 12s ease-in-out infinite;
}

.con1 .worker1 {
    position: absolute;
    left: 300px;
    top: 1280px;
}

.con1 .worker2 {
    position: absolute;
    right: 600px;
    top: 60px;
}

.con1 .drone1 {
    position: absolute;
    right: 1340px;
    top: 45px;
    animation: hovering2 4s ease-in-out infinite;
}

.con1 .drone2 {
    position: absolute;
    left: 1090px;
    top: 1010px;
    animation: hovering2 4s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes driving1 {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(-279px) translateY(158px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes hovering2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 섹션 2 */

#section2 {
    height: 1000px;
    width: 2000px;
    left: 0;
    bottom: 0;
    position: absolute;
    display: inline-block;
}

.recyclepopup {
    position: absolute;
    left: 438px;
    bottom: 372px;
    display: none;
    z-index: 99;
}

.con2 {
    position: absolute;
    left: 90px;
    bottom: 5px;
}

.con2 img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.con2 .capcase {
    position: absolute;
    left: -165px;
    bottom: -40px;
    z-index: 1;
}

.con2 .caution {
    position: absolute;
    left: 78px;
    bottom: 1050px;
    z-index: 2;
    animation: hovering1 4s ease-in-out infinite;
}

.con2 .pen {
    position: absolute;
    left: 1650px;
    bottom: 480px;
    animation: hovering1 6s ease-in-out infinite;
}

.con2 .penshadow {
    position: absolute;
    left: 1650px;
    bottom: 480px;
}

.con2 .human1 {
    position: absolute;
    left: 530px;
    bottom: 270px;
}

.con2 .worker1 {
    position: absolute;
    left: 1170px;
    bottom: 540px;
}

.con2 .worker2 {
    position: absolute;
    left: 1910px;
    bottom: 85px;
}

.con2 .worker3 {
    position: absolute;
    left: 1750px;
    bottom: 360px;
}

.con2 .worker4 {
    position: absolute;
    left: 2350px;
    bottom: 123px;
}

.con2 .worker5 {
    position: absolute;
    left: 2315px;
    bottom: 405px;
}

.drone3 {
    position: absolute;
    left: 2260px;
    bottom: 610px;
    animation: hovering2 4s ease-in-out infinite;
    animation-delay: 2s;
}

.con2 .capsules {
    position: absolute;
    width: 120px;
    height: 60px;
    left: 320px;
    bottom: 360px;
    transform: rotate(-30deg);
}

.rancap {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.capsule8 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 1s;
    opacity: 0;
}

.capsule9 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 2s;
    opacity: 0;
}

.capsule10 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 3s;
    opacity: 0;
}

.capsule11 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 4s;
    opacity: 0;
}

.capsule12 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 5s;
    opacity: 0;
}

.capsule13 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 6s;
    opacity: 0;
}

.capsule14 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 7s;
    opacity: 0;
}

.capsule15 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 8s;
    opacity: 0;
}

.capsule16 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 9s;
    opacity: 0;
}

.capsule17 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 10s;
    opacity: 0;
}

.capsule18 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 11s;
    opacity: 0;
}

.capsule19 {
    position: absolute;
    left: 685px;
    bottom: 500px;
    animation: moveslider6 12s linear infinite forwards;
    animation-delay: 12s;
    opacity: 0;
}


.capsule20 {
    position: absolute;
    left: 1170px;
    bottom: 225px;
    animation: moveslider7 6s linear infinite;
    animation-delay: 13s;
    opacity: 0;
}

.capsule21 {
    position: absolute;
    left: 1170px;
    bottom: 225px;
    animation: moveslider7 6s linear infinite;
    animation-delay: 14s;
    opacity: 0;
}

.capsule22 {
    position: absolute;
    left: 1170px;
    bottom: 225px;
    animation: moveslider7 6s linear infinite;
    animation-delay: 15s;
    opacity: 0;
}

.capsule23 {
    position: absolute;
    left: 1170px;
    bottom: 225px;
    animation: moveslider7 6s linear infinite;
    animation-delay: 16s;
    opacity: 0;
}

.capsule24 {
    position: absolute;
    left: 1170px;
    bottom: 225px;
    animation: moveslider7 6s linear infinite;
    animation-delay: 17s;
    opacity: 0;
}

.capsule25 {
    position: absolute;
    left: 1170px;
    bottom: 225px;
    animation: moveslider7 6s linear infinite;
    animation-delay: 18s;
    opacity: 0;
}

@keyframes moveslider6 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        transform: translateX(485px) translateY(275px);
        opacity: 1;
    }
}

@keyframes moveslider7 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateX(185px) translateY(-95px);
        opacity: 0;
    }
}

/* 섹션 3 */

#section3 {
    height: 2062px;
    width: 1561px;
    right: 0;
    top: 0;
    position: absolute;
    display: inline-block;
}

.con3 {
    position: absolute;
    left: 87px;
    bottom: 52px;
}

.con3 img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.machine {
    position: absolute;
    left: 466px;
    bottom: 1007px;
}

.capclick {
    position: absolute;
    left: 658px;
    bottom: 144px;
}

.con3 .caution {
    position: absolute;
    left: 795px;
    bottom: 450px;
    animation: hovering1 4s ease-in-out infinite;
    z-index: 99;
}

.con3 .worker1 {
    position: absolute;
    left: 1110px;
    bottom: 330px;
}

.con3 .worker2 {
    position: absolute;
    left: 1250px;
    bottom: 600px;
}

.con3 .worker3 {
    position: absolute;
    left: 1247px;
    bottom: -200px;
}

.con3 .worker4 {
    position: absolute;
    left: 1050px;
    bottom: -460px;
}

.con3 .worker5 {
    position: absolute;
    left: 420px;
    bottom: -145px;
}

.con3 .human1 {
    position: absolute;
    left: 1080px;
    bottom: 1035px;
}

.con3 .human2 {
    position: absolute;
    left: 305px;
    bottom: 152px;
}

.con3 .workcar1 {
    position: absolute;
    left: 360px;
    bottom: 790px;
    animation: driving3 12s ease-in-out infinite;
    animation-delay: 6s;
}

.con3 .workcar2 {
    position: absolute;
    left: 1135px;
    bottom: 48px;
    animation: driving1 12s ease-in-out infinite;
    animation-delay: 5s;
}

.con3 .workcar3 {
    position: absolute;
    left: 630px;
    bottom: -260px;
    animation: driving1 15s ease-in-out infinite;
    animation-delay: 1s;
}

.con3 .movingcap {
    position: absolute;
    left: 573px;
    bottom: -280px;
    animation: driving1 15s ease-in-out infinite;
    animation-delay: 1s;
}

.con3 .drone {
    position: absolute;
    left: 1258px;
    bottom: 910px;
    animation: hovering2 4s ease-in-out infinite;
    animation-delay: 1s;
}

.capsule26 {
    position: absolute;
    left: 595px;
    bottom: 1118px;
    opacity: 0;
    animation: moveslider8 12s linear infinite;
    animation-delay: 2s;
}

.capsule27 {
    position: absolute;
    left: 595px;
    bottom: 1118px;
    opacity: 0;
    animation: moveslider8 12s linear infinite;
    animation-delay: 4s;
}

.capsule28 {
    position: absolute;
    left: 595px;
    bottom: 1118px;
    opacity: 0;
    animation: moveslider8 12s linear infinite;
    animation-delay: 6s;
}

.capsule29 {
    position: absolute;
    left: 595px;
    bottom: 1118px;
    opacity: 0;
    animation: moveslider8 12s linear infinite;
    animation-delay: 8s;
}

.capsule30 {
    position: absolute;
    left: 595px;
    bottom: 1118px;
    opacity: 0;
    animation: moveslider8 12s linear infinite;
    animation-delay: 10s;
}

.capsule31 {
    position: absolute;
    left: 595px;
    bottom: 1118px;
    opacity: 0;
    animation: moveslider8 12s linear infinite;
    animation-delay: 12s;
}

/* 방향전환 */

.capsule32 {
    position: absolute;
    left: 1088px;
    bottom: 822px;
    opacity: 0;
    animation: moveslider9 6s linear infinite;
    animation-delay: 14s;
}

.capsule33 {
    position: absolute;
    left: 1088px;
    bottom: 822px;
    opacity: 0;
    animation: moveslider9 6s linear infinite;
    animation-delay: 16s;
}

.capsule34 {
    position: absolute;
    left: 1088px;
    bottom: 822px;
    opacity: 0;
    animation: moveslider9 6s linear infinite;
    animation-delay: 18s;
}

@keyframes moveslider8 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        transform: translateX(493px) translateY(296px);
        opacity: 1;
    }
}

@keyframes moveslider9 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-150px) translateY(110px);
        opacity: 1;
    }
}

/* 회전판 */

.capsule35 {
    position: absolute;
    left: 887px;
    bottom: 691px;
    animation: rotate2 4s linear infinite;
}


@keyframes rotate2 {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(52px) translateY(70px);
    }
}

.capsule36 {
    position: absolute;
    left: 939px;
    bottom: 621px;
    animation: rotate3 4s linear infinite;
}

@keyframes rotate3 {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(-61px) translateY(67px);
    }
}

.capsule37 {
    position: absolute;
    left: 878px;
    bottom: 554px;
    animation: rotate4 4s linear infinite;
}

@keyframes rotate4 {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(-130px) translateY(13px);
    }
}

.capsule38 {
    position: absolute;
    left: 748px;
    bottom: 541px;
    animation: rotate5 4s linear infinite;
}

@keyframes rotate5 {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(-88px) translateY(-54px);
    }
}

.capsule39 {
    position: absolute;
    left: 660px;
    bottom: 595px;
    animation: rotate6 4s linear infinite;
}

@keyframes rotate6 {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(16px) translateY(-77px);
    }
}

.capsule40 {
    position: absolute;
    left: 676px;
    bottom: 672px;
    animation: rotate7 4s linear infinite;
}

@keyframes rotate7 {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(93px) translateY(-38px);
    }
}

.capsule41 {
    position: absolute;
    left: 769px;
    bottom: 710px;
    animation: rotate8 4s linear infinite;
}

@keyframes rotate8 {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(118px) translateY(19px);
    }
}

.machinearm {
    position: absolute;
    left: 341px;
    bottom: 333px;
}

.capsule42 {
    position: absolute;
    left: 615px;
    bottom: 545px;
    animation: moveslider10 5s linear infinite;
}

@keyframes moveslider10 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateX(-120px) translateY(85px);
        opacity: 0;
    }
}

/* .capsulebig1 {
    position: absolute;
    left: 404px;
    bottom: 419px;
    opacity: 1;
} */

.capsulebig2 {
    position: absolute;
    left: 404px;
    bottom: 419px;
    opacity: 0;
    animation: moveslider11 5s linear infinite;
    animation-delay: 5s;
}

.capsulebig3 {
    position: absolute;
    left: 250px;
    bottom: 315px;
    opacity: 0;
    animation: moveslider12 10s linear infinite;
    animation-delay: 10s;
}

.capsulebig4 {
    position: absolute;
    left: 250px;
    bottom: 315px;
    opacity: 0;
    animation: moveslider12 10s linear infinite;
    animation-delay: 15s;
}

.capsulebig5 {
    position: absolute;
    left: 250px;
    bottom: 315px;
    opacity: 0;
    animation: moveslider12 10s linear infinite;
    animation-delay: 20s;
}

@keyframes moveslider11 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        transform: translateX(-154px) translateY(104px);
        opacity: 1;
    }
}

@keyframes moveslider12 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        transform: translateX(390px) translateY(230px);
        opacity: 0;
    }
}


/* 섹션 4 */

#section4 {
    height: 516px;
    width: 613px;
    left: 1790px;
    top: 742px;
    position: absolute;
    display: inline-block;
}

.pot img {
    animation: moveAndTilt 5s ease-in-out infinite;
}

@keyframes moveAndTilt {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-30px) rotate(-3deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

#section4 .workcar1 {
    position: absolute;
    right: 1025px;
    top: 630px;
    animation: driving3 20s ease-in-out infinite;
    animation-delay: 1s;
}

#section4 .worker1 {
    position: absolute;
    right: 1000px;
    top: 590px;
}

#section4 .worker2 {
    position: absolute;
    right: -115px;
    bottom: -145px;
}

#section4 .workcar2 {
    position: absolute;
    right: -240px;
    top: -5px;
    animation: driving2 15s ease-in-out infinite;
    animation-delay: 5s;
}

@keyframes driving2 {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(-300px) translateY(155px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes driving3 {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(-245px) translateY(-140px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}